<!-- <app-header></app-header> -->
<div class="container-fluid con">
  <div class="row m-0">
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">TOP 10 SUPPLIERS BY SPEND</span>
        </div>
        <div class="row">
          <div class="col-md-12 cht" [chart]="ssChart">

          </div>
        </div>
        <div class="row">
          <form class="m-r-80">
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spend" placeholder="Commited" (click)="spendSuppliersEvent('CommittedAmount_2019')" checked>&nbsp;<span class="spn-l">Commited</span></label>
          </div>
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spend" placeholder="Current" (click)="spendSuppliersEvent('CurrentAmount_2019')">&nbsp;<span class="spn-l">Current</span></label>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">SPEND BY CATEGORY</span>
        </div>
        <div class="row">
          <div class="col-md-12 cht" [chart]="scChart">

          </div>
        </div>
        <div class="row">
          <form class="m-r-80">
          <div class="col-md-6 pd-5">
              <label class="cursor"><input type="radio" name="spendC" placeholder="Commited" (click)="spendCategoryEvent('CommittedAmount_2019')" checked>&nbsp;<span class="spn-l">Commited</span></label>
          </div>
          <div class="col-md-6 pd-5">
              <label class="cursor"> <input type="radio" name="spendC" placeholder="Commited" (click)="spendCategoryEvent('CurrentAmount_2019')">&nbsp;<span class="spn-l">Current</span></label>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">SPEND BY DEPT/BU</span>
        </div>
        <div class="row">
          <div class="col-md-12 cht" [chart]="sdChart">

          </div>
        </div>
        <div class="row">
          <form class="m-r-80">
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendD" placeholder="Commited" (click)="spendDeptEvent('CommittedAmount_2019')" checked>&nbsp; <span class="spn-l">Commited</span></label>
          </div>
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendD" placeholder="Commited" (click)="spendDeptEvent('CurrentAmount_2019')">&nbsp; <span class="spn-l">Current</span> </label>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r w-100">
        <div class="row pd-5 m-0">
          <span class="fs-20 fw">TOP 10 SUPPLIERS BY SAVINGS</span>
        </div>
        <div class="row">
          <form class="m-r-80">
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendS" placeholder="Commited" (click)="supplierSavingEvent('CommittedAmount_2019')" checked>&nbsp;<span class="spn-l">Current</span> </label>
          </div>
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendS" placeholder="Commited" (click)="supplierSavingEvent('CurrentAmount_2018')">&nbsp;<span class="spn-l">Annualised</span> </label>
          </div>
        </form>
        </div>
        <div class="row m-0">
          <div class="col-md-12 cht" [chart]="treechart">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 m-t">
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">DIGITAL SAVINGS</span>
        </div>
        <div class="row m-t-35">
          <div class="col-md-12 cht" [chart]="digitalChart">

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">TOTAL VENDORS</span>
        </div>
        <div class="row">
          <div class="col-md-12 pd-172">
            <i *ngIf="this.metadata.vendors > 10" class="fa fa-arrow-up fs-30 spn-c" aria-hidden="true"></i>
            <i *ngIf="this.metadata.vendors < 10" class="fa fa-arrow-down fs-30 spn-c2" aria-hidden="true"></i>
            &nbsp;<span class="fs-71 spn-c">{{this.metadata.vendors ? this.metadata.vendors : '- -'}}</span>&nbsp;<span class="fs-20 fw">9</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r">
        <div class="row pd-5">
          <span class="fs-20 fw">TOTAL CONTRACTS</span>
        </div>
        <div class="row">
          <div class="col-md-12 pd-172">
            <i *ngIf="this.metadata.contracts > 100" class="fa fa-arrow-up fs-30 spn-c" aria-hidden="true"></i>
            <i *ngIf="this.metadata.contracts < 100" class="fa fa-arrow-down fs-30 spn-c2" aria-hidden="true"></i>
             &nbsp;<span class="fs-71 spn-c2">{{this.metadata.contracts ? this.metadata.contracts : '- -'}}</span>&nbsp;<span class="fs-20 fw">100</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 ta-c padding0">
      <div class="a-r w-100">
        <div class="row pd-5 m-0">
          <span class="fs-20 fw">TOP 10 CONTRACTS BY VALUE</span>
        </div>
        <div class="row">
          <form class="m-r-80">
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendV" placeholder="Commited" (click)="contractValueEvent('CommittedAmount_2019')" checked>&nbsp;<span class="spn-l">Current</span></label>
          </div>
          <div class="col-md-6 pd-5">
            <label class="cursor"><input type="radio" name="spendV" placeholder="Commited" (click)="contractValueEvent('CurrentAmount_2019')">&nbsp; <span class="spn-l">Annualised</span> </label>
          </div>
        </form>
        </div>
        <div class="row m-0">
          <div class="col-md-12 cht" [chart]="contracttreechart">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 m-t">
    <div class="col-md-12 padding0">
      <div class="a-r-1">
        <div class="row m-0">
          <div class="col-md-12 inline pd-10">
            <span class="m-l-10">{{title}}</span>
          </div>
        </div>
      </div>
    </div>
        <div class="col-md-12 padding0 " >
            <table class="padding0 w-100 ta-c">
                <tr class="bg-table text-white">
                    <th class="pd-10 ta-c">Supplier Name</th>
                    <!-- <th class="pd-10">Annualised</th> -->
                    <th class="pd-10 ta-c">{{category}}</th>
                    <th class="pd-10 ta-c">#CRs</th>
                    <th class="pd-10 ta-c">Rating</th>
                </tr>
                <ng-container  *ngFor="let item of newData " >
                  <tr class="bg-tr w-100 " [ngStyle]="{'background':item.color}" >
                    <td class="pd-10">{{item.name}}</td>
                    <td class="pd-10">{{item.annualised}} &nbsp; <span *ngIf="item.annualised > item.current" class="fs-10"><i class="fa fa-arrow-up green" aria-hidden="true"></i></span>&nbsp;<span  *ngIf="item.annualised < item.current" class="fs-10"><i class="fa fa-arrow-down red" aria-hidden="true"></i></span>&nbsp;<span>{{item.current}}</span></td>
                    <!-- <td class="pd-10">{{item.current}}</td> -->
                    <td class="pd-10">{{item.crs}}</td>
                    <td class="pd-10">
                      <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
                      <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
                      <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
                      <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
                      <i class="fa fa-star" aria-hidden="true"></i> &nbsp;
                    </td>
                  </tr>
                </ng-container>
                <!-- <tr class="bg-tr">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                  </td>
                </tr>
                <tr  class="bg-tr2">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr2">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr2">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr  class="bg-tr2">
                    <td class="pd-10">Stanbridge</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">$2.1M</td>
                    <td class="pd-10">23</td>
                    <td class="pd-10">
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star fa_color" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </td>
                </tr> -->
            </table>
        </div>
  </div>

</div>